@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    121 Rouge River Drive<br />
    Scarborough, ON M16 G43<br />
    <abbr title="Phone">P:</abbr>
    456-879-0987
</address>

<address>
    <strong>Support:</strong> <a href="mailto:saurabh@gmail.com">saurabh@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:softwarengineer@gmail.com">softwareengineer@example.com</a>
</address>
